<!DOCTYPE html>
<style>
#tabla1 {position:absolute;
        top: 110px;
        left: 670px;}


#tabla2 {position:absolute;
         top: 110px;
         right: 430px;}

</style>

<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3 align="left"><%= title %> de la página:</h3>
    <table id="tabla1">
      <tr>
        <td>
            <h4>Alejandro Iglesias Ruiz</h4>
            <p>
            <img src="/Imagenes/humprey.png" alt="Alejandro Iglesias" width="170" height="170" />
        </td>
      </tr>
    </table>
    <table id="tabla2">
      <tr>
        <td>
          <h4>Antonio Ros Vioque</h4>
          <p>
          <img src="/Imagenes/pitt.jpg" alt="Alejandro Iglesias" width="170" height="170" />
        </td>
      </tr>
    </table>
  </body>
</html>
<!  <iframe width="480" height="280" src="https://www.youtube.com/embed/2s2t2Ed-RB4" frameborder="0" allowfullscreen></iframe> 
