<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CRÉDITOS</h1>
    <h2><%= title %> de la página:</h2>
    <h3>Alejandro Iglesias Ruiz</h3>
	<p>
    <p><img src="/Imagenes/humprey.png" alt="Alejandro Iglesias" width="200" height="200" /></p>

    <h3>Antonio Ros Vioque</h3>
	<p>
    <p><img src="/Imagenes/pitt.jpg" alt="Alejandro Iglesias" width="200" height="200" /></p>
    <p>
    <p>
    <iframe width="480" height="280" src="https://www.youtube.com/embed/2s2t2Ed-RB4" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
